<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @zweet.status %>
</p>

<p>
  <strong>Zombie:</strong>
  <%= link_to @zweet.zombie.name, zombie_path(@zweet.zombie) %>
</p>

<%= link_to 'Edit', edit_zweet_path(@zweet) %>
